.vscode/*
!.vscode/settings.json
.DS_Store
1_pariDispari
2_interesse
3_bevioNo
4_bCompreso
5_numeroPiùPiccolo
6_equazione
7_annoBisestile
8_nomeRettangolo
9_tabellina7
10_pariDa0a20
11_sommatoria1a100
12_sommaQuadrati10num
13_ordineDecrescenteDa300a150
14_300a150Diviso3
15_numeroPiùGrande
coltellinoSvizzero